/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@-webkit-keyframes expand-and-square {
  0% {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
  }
  50% {
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
  100% {
    border-radius: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
  }
}

@keyframes expand-and-square {
  0% {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
  }
  50% {
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
  100% {
    border-radius: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
  }
}

@-webkit-keyframes reveal-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes reveal-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes grey-to-secondary {
  0% {
    color: #565656;
  }
  100% {
    color: #FF9100;
  }
}

@keyframes grey-to-secondary {
  0% {
    color: #565656;
  }
  100% {
    color: #FF9100;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.o-page-content-wrapper, .o-page-columns-grid {
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
}

.o-page-wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px 1fr 312px;
      grid-template-rows: 74px 1fr 312px;
}

.o-page-main-wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 302px 112px 695px 10px 554px 10px 894px;
      grid-template-rows: 302px 112px 695px 10px 554px 10px 894px;
  height: 2577px;
}

.o-page-columns-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.48% 42.17% 0.78% 2.48% 42.17%;
      grid-template-columns: 2.48% 42.17% 0.78% 2.48% 42.17%;
  -webkit-column-gap: 2.48%;
          column-gap: 2.48%;
}

.o-wrapper-article-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 1fr;
      grid-template-columns: 32px 1fr;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-footer-wrapper-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 19.38% 11.24% 12.95% 13.72%;
      grid-template-columns: 220px 19.38% 11.24% 12.95% 13.72%;
  -webkit-column-gap: 6.05%;
          column-gap: 6.05%;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.o-footer-wrapper {
  height: 100%;
  padding-top: 64px;
}

@font-face {
  font-family: 'Lato';
  src: url("../../assets/fonts/latoregular.woff2") format("woff2"), url("../../assets/fonts/latoregular.woff") format("woff");
}

html,
* {
  font-family: 'Lato', sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-like,
.h2-like,
.h3-like,
.h4-like {
  font-family: 'Montserrat', sans-serif;
}

h1,
.h1-like {
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  font-size: 36px;
}

h2,
.h2-like {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 36px;
}

h3,
.h3-like {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h4,
.h4-like {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

h5,
.h5-like {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
}

img {
  width: 100%;
  height: 100%;
}

p {
  color: #565656;
}

.h4-like {
  color: #FF9100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  margin-bottom: 16px;
}

h5 {
  margin-bottom: 12px;
}

.navbar {
  height: 100%;
  margin: 0;
  border: 0;
}

.navbar__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16.78% 15.22% 24.39% 10.38% 16.61%;
      grid-template-columns: 16.78% 15.22% 24.39% 10.38% 16.61%;
  -webkit-column-gap: 4.15%;
          column-gap: 4.15%;
  place-items: center center;
  list-style: none;
  height: 100%;
  margin: 0;
}

.navbar__list-item {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  color: #565656;
}

.navbar__list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #565656;
}

.navbar__list-item a:hover {
  cursor: pointer;
  color: #FF9100;
}

.navbar__items {
  position: relative;
}

.navbar__items--footer {
  position: relative;
}

.footer {
  background-color: #565656;
  height: 312px;
}

.footer__color-line {
  background-color: #919191;
  height: 12px;
}

.footer-wrapper-list {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer-wrapper__logo {
  position: absolute;
  height: 403px;
  top: -166px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-right: 74px;
  margin-left: 11px;
  margin: 0 74px 0 11px;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__list--double {
  width: 248px;
  height: 170px;
}

.footer__list-item {
  list-style: none;
}

.footer__list-item a {
  display: block;
  text-decoration: none;
  color: #E6E6E6;
  font-size: 16px;
  line-height: 19px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 12px;
  height: 20px;
}

.footer__list-item--heading a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 12px;
  height: 20px;
  width: 166px;
}

.footer__list-item--heading:hover {
  pointer-events: none !important;
}

.footer__list-item--stretch {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.footer__list-item a:hover {
  color: #41BEAD;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 48px;
}

.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40.47% 44.81% 1.24% 6.35%;
      grid-template-columns: 40.47% 44.81% 1.24% 6.35%;
  -webkit-column-gap: 2.48%;
          column-gap: 2.48%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}

.main-header__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16px 1fr;
      grid-template-columns: 16px 1fr;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.main-header__icons-arrow {
  width: 12px;
  height: 20px;
}

.main-header__icons-logo {
  width: 121.25px;
  height: 41.69px;
}

.btn {
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 14px 32px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

.btn--secondary {
  background: #FF9100;
  color: #FFFFFF;
}

.btn--nav {
  padding: 10px 22px;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  height: 36px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn--section-fixed {
  padding: 14px 32px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  margin-left: 64px;
}

.section-heading {
  background-color: #44A9F8;
}

.section-heading-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 22px 88px;
      grid-template-rows: 22px 88px;
  row-gap: 24px;
  place-content: center center;
  place-items: center center;
  color: #FFFFFF;
  height: 100%;
}

.section-heading-title div {
  background-color: #FFC20A;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  border-radius: 2px;
  width: 89px;
  height: 100%;
  padding: 4px 8px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

.section-heading-title h1 {
  width: 648px;
  text-align: center;
}

.section-fixed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 12px 12.56% 2px 12.87% 2px 14.18% 2px 16.66%;
      grid-template-columns: 20% 12px 12.56% 2px 12.87% 2px 14.18% 2px 16.66%;
  -webkit-column-gap: 2.48%;
          column-gap: 2.48%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 56px;
  z-index: 1;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  background-color: #FFFFFF;
}

.section-fixed__article--money {
  -ms-grid-column-align: end;
      justify-self: end;
}

.section-fixed__dots {
  position: relative;
  top: 12px;
  height: 100%;
  width: 100%;
}

.section-fixed__dots::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-bottom: 7px;
  bottom: 114px;
  -webkit-box-shadow: inset 0px 0px 3px 5px #44A9F8;
          box-shadow: inset 0px 0px 3px 5px #44A9F8;
}

.section-fixed p {
  margin-top: 0;
  margin-bottom: 6px;
}

.section-introduction {
  margin-top: 40px;
  margin-bottom: 54px;
}

.section-introduction-wrapper {
  -ms-grid-rows: 321px 172px;
      grid-template-rows: 321px 172px;
  row-gap: 98px;
}

.section-introduction__text-content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.section-introduction__text-content p {
  margin: 0;
}

.section-introduction__icons--people {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.section-introduction__icons--puzzle {
  position: relative;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  bottom: 30px;
  left: 32px;
}

.section-introduction__video {
  place-self: center end;
}

.section-introduction__strawberry {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2;
  place-self: start;
}

.section-introduction__cherry {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 89.72%;
  place-self: start end;
}

.section-introduction__dots {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-introduction-fearful-lady {
  position: relative;
  max-width: 440px;
  max-height: 248px;
}

.section-introduction-btn-play {
  position: absolute;
  max-width: 64px;
  max-height: 64px;
  bottom: 38%;
  left: 42%;
}

.section-dots hr {
  position: relative;
  border: none;
  border-top: 10px dotted #fff;
  color: #fff;
  width: 100%;
  margin: 0;
}

.section-dots--top hr {
  top: 5px;
}

.section-dots--bottom hr {
  bottom: 5px;
}

.section-program {
  background-color: #FFCB29;
  height: 554px;
  padding: 64px 0;
}

.section-program-wrapper {
  height: 426px;
}

.section-program__icons--book {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.section-program__icons--program {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  width: 352px;
  height: 231.12px;
  place-self: end center;
}

.section-program__icons--arrow-down {
  height: 10px;
}

.section-program__article {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.section-program__article-text {
  margin: 24px 0;
}

.section-program__article .parent div:first-child {
  margin-top: 12px;
}

.section-info {
  margin-top: 50px;
  margin-bottom: 148px;
}

.section-info-wrapper {
  -ms-grid-rows: 256px 332px;
      grid-template-rows: 256px 332px;
  row-gap: 108px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.section-info__picture {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: #D6D6D6;
  height: 100%;
  width: 363px;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 12px;
  place-items: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

.section-info__icons--clock {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-info__icons--innovation {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-info__icons--reward {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  bottom: 35px;
}

.section-info__articles--reward {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-info__articles--clock {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-info__articles--innovation {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 2;
  grid-row: 2;
}

.section-info__dots {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  grid-row: 2;
}

.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.dot--white {
  background-color: #FFFFFF;
  margin-right: 8px;
}

.dot--yellow {
  background-color: #FFECB3;
  margin-bottom: 8px;
}

.dot-section-fixed {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-bottom: 7px;
}

.dot-section-fixed--white {
  -webkit-box-shadow: inset 2px 2px 4px #c4c4c4;
          box-shadow: inset 2px 2px 4px #c4c4c4;
}

.dot-section-fixed--blue {
  -webkit-box-shadow: inset 0px 0px 3px 5px #44A9F8;
          box-shadow: inset 0px 0px 3px 5px #44A9F8;
}

.box {
  display: -ms-grid;
  display: grid;
  border-radius: 6px;
  height: 50px;
}

.box--white {
  -ms-grid-columns: 1fr 16px;
      grid-template-columns: 1fr 16px;
  place-items: center start;
  place-content: center space-between;
  margin-top: 16px;
  background-color: #FFFFFF;
  padding-left: 14px;
  padding-right: 24px;
}

.box-grey {
  width: 2px;
  height: 24px;
  background-color: #F1F1F1;
}

.icon-box-facebook {
  width: 29px;
  height: 28px;
  margin-left: 11px;
  color: #E6E6E6;
}

.icon-box-facebook:hover {
  color: #41BEAD;
}

.icon-box-facebook i {
  font-size: 1.92rem;
}

.icon-box-instagram {
  width: 28px;
  height: 28px;
  margin-left: 30px;
  color: #E6E6E6;
}

.icon-box-instagram:hover {
  color: #41BEAD;
}

.icon-box-instagram i {
  font-size: 1.92rem;
}

.copyright {
  margin-left: 11px;
  width: 185px;
  height: 38px;
  color: #919191;
}
/*# sourceMappingURL=styles.css.map */