/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  min-height: 100vh;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@-webkit-keyframes expand-and-square {
  0% {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
  }
  50% {
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
  100% {
    border-radius: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
  }
}

@keyframes expand-and-square {
  0% {
    border-radius: 50%;
    background-color: red;
    width: 50px;
    height: 50px;
  }
  50% {
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
  100% {
    border-radius: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
  }
}

@-webkit-keyframes reveal-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes reveal-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes grey-to-secondary {
  0% {
    color: #565656;
  }
  100% {
    color: #FF9100;
  }
}

@keyframes grey-to-secondary {
  0% {
    color: #565656;
  }
  100% {
    color: #FF9100;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.o-page-wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px 1fr 312px;
      grid-template-rows: 74px 1fr 312px;
}

.o-page-content-wrapper {
  max-width: 1290px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Lato';
  src: url("../../assets/fonts/latoregular.woff2") format("woff2"), url("../../assets/fonts/latoregular.woff") format("woff");
}

html,
* {
  font-family: 'Lato', sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-like,
.h2-like,
.h3-like,
.h4-like {
  font-family: 'Montserrat', sans-serif;
}

h1,
.h1-like {
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  font-size: 36px;
}

h2,
.h2-like {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 36px;
}

h3,
.h3-like {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h4,
.h4-like {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

h5,
.h5-like {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
}

.navbar {
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar__items--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navbar__item {
  list-style: none;
  margin: 15px;
}

.navbar__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #565656;
}

.navbar__item a:hover {
  cursor: pointer;
  color: #FF9100;
}

.color-line {
  background-color: #919191;
  height: 12px;
}

.footer-wrapper {
  background-color: #565656;
  height: 312px;
}

.footer__logo-wrapper {
  position: absolute;
  width: 220px;
  height: 403px;
  left: 75px;
  top: -92px;
}

.footer__lists-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 370px;
  line-height: 19px;
  padding: 10px 0;
  height: 244px;
  width: 70%;
  margin: 0;
  margin-top: 40px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-right: 74px;
  margin-left: 11px;
  margin: 0 74px 0 11px;
  padding: 0;
}

.footer__list--double {
  width: 248px;
  height: 170px;
}

.footer__list-item {
  list-style: none;
}

.footer__list-item a {
  display: block;
  text-decoration: none;
  color: #E6E6E6;
  font-size: 16px;
  line-height: 19px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 12px;
  height: 20px;
}

.footer__list-item--first a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 12px;
  height: 20px;
  width: 166px;
}

.footer__list-item--first:hover {
  pointer-events: none !important;
}

.footer__list-item--stretch {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.footer__list-item a:hover {
  color: #41BEAD;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 48px;
}

.icon-box-facebook {
  width: 29px;
  height: 28px;
  margin-left: 11px;
  color: #E6E6E6;
}

.icon-box-facebook:hover {
  color: #41BEAD;
}

.icon-box-facebook i {
  font-size: 1.92rem;
}

.icon-box-instagram {
  width: 28px;
  height: 28px;
  margin-left: 30px;
  color: #E6E6E6;
}

.icon-box-instagram:hover {
  color: #41BEAD;
}

.icon-box-instagram i {
  font-size: 1.92rem;
}

.copyright {
  margin-left: 11px;
  width: 177px;
  height: 38px;
  color: #919191;
}
/*# sourceMappingURL=styles.css.map */