@import "../settings/_settings-colors.scss";
@import "../settings/settings-breakpoints";

.footer {
    background-color: $grey-700;
    height: 312px;

    @include for-phone-only {
        height: 567px;
    }

    &__color-line {
        background-color: $grey-500;
        height: 12px;
    }

    &-wrapper {
        &-list {
            grid-column: 2/3;

            @include for-phone-only {
                grid-column: 1/2;
                grid-row: 1/3;
            }
        }

        &__logo {
            position: absolute;
            height: 403px;
            top: -166px;

            @include for-phone-only {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        flex-flow: column wrap;
        margin-right: 74px;
        margin-left: 11px;
        margin: 0 74px 0 11px;
        padding: 0;
        justify-content: flex-start;

        @include for-phone-only {
           margin: 0;
        }

        &--double {
            width: 248px;
            height: 170px;

            @include for-phone-only {
                width: 100%;
                height: 100%;
                grid-column: 1/2;
                grid-row: 3;
            }
        }

        &-item {
            list-style: none;

            a {
                display: block;
                text-decoration: none;
                color: $grey-200;
                font-size: 16px;
                line-height: 19px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 12px;
                height: 20px;
            }

            &--heading {
                a {
                    display: block;
                    text-decoration: none;
                    color: $white;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 12px;
                    height: 20px;
                    width: 166px;
                }

                &:hover {
                    pointer-events: none !important;
                }
            }

            &--stretch {
                display: block;
                width: 100%;
                margin-bottom: 0;
            }

            a:hover {
                color: $primary-300;
            }
        }

        &--cherry {
            @include for-phone-only {
                grid-column: 1/2;
                grid-row: 3;

                align-self: center;
            }
        }
    }
}

.sd {
    @include for-phone-only {
        grid-column: 2/3;
        grid-row: 2;

        & .footer__list {
            display: none;
        }
    }
}

.icon-wrapper {
    display: flex;
    margin-top: 24px;
    margin-bottom: 48px;
}
