@import "../settings/settings-colors";
@import "../settings/settings-shadows";
@import "../settings/settings-breakpoints";

.section-heading {
    &--course {
        background-color: $blue-400;

        &-title {
            div {
                background-color: $secondary-500;
                font-size: 12px;
                line-height: 14px;
                border-radius: 2px;
                width: 89px;
                height: 100%;
                padding: 4px 8px;
                text-transform: uppercase;
                box-shadow: $primary-shadow;
            }

            h1 {
                width: 648px;
                text-align: center;
                margin-top: 24px;

                @include for-phone-only {
                    width: 335px;
                }
            }
        }
    }

    &--trainers {
        background-color: $secondary-600;

        &-subscribe {
            background-color: $blue-400;
            
        @include for-phone-only {
            & .h1-like {
                line-height: 30px;
                 font-size: 24px;
                 text-align: start;
            }

            p {
               text-align: start;
            }

            padding-bottom: 64px;
         }
 

            &__input-fields {
                width: 936px;
                height: 74px;
                display: grid;
                grid-template-columns: 24.35% 24.35% 24.35% 156px;
                column-gap: 3.42%;
                margin-bottom: 134px;

                @include for-phone-only {
                    grid-template-columns: 1fr;
                    margin-bottom: 0;
                    height: 100%;
                    width: 100%;
                }
            }

            &__button {
                margin-top: 48px;
                margin-left: -48px !important;

                @include for-phone-only {
                    padding-left: 60px;
                }
            }

            @include for-phone-only {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}

.section-fixed {
    border-radius: 12px;
    box-shadow: $primary-shadow;
    background-color: $white;
    z-index: 1;

    &--course {
        display: grid;
        grid-template-columns: 20% 12px 12.56% 2px 12.87% 2px 14.18% 2px 16.66%;
        column-gap: 2.48%;
        justify-items: start;
        align-items: center;

        position: relative;
        bottom: 56px;

        @include for-phone-only {
            grid-template-columns: 335px;
            grid-template-rows: 144px 12px 100px 2px 100px 2px 100px 2px 100px;
            bottom: 88px;

            article {
                padding-left: 24px;
            }
        }

        &__article {
            &--money {
                justify-self: end;

                @include for-phone-only {
                    justify-self: start;
                }
            }
        }

        &__dots {
            position: relative;
            top: 12px;

            height: 100%;
            width: 100%;

            @include for-phone-only {
                display: flex;
                top: 0;
            }
        }

        &__dots::after {
            position: absolute;
            content: "";
            border-radius: 50%;
            width: 12px;
            height: 12px;
            margin-bottom: 7px;
            bottom: 114px;
            box-shadow: inset 0px 0px 3px 5px $blue-400;

            @include for-phone-only {
                display: none;
            }
        }

        p {
            margin-top: 0;
            margin-bottom: 6px;
        }
    }

    &--contact-us {
        width: 519px;
        height: 382px;
        top: 202px;
        left: 75px;

        &__wrapper {
            display: grid;
            grid-template-columns: 45.91% 19.96% 22.95%;
            grid-template-rows: 42px 108px 108px 60px;
            column-gap: 5.22%;
            place-items: start;

            width: 100%;
            height: 100%;
            padding: 32px;

            p {
                margin: 0;
            }

            h4 {
                color: $primary-300;
            }

            section {
                grid-column: 2/4;
            }

            article {
                display: grid;
                grid-template-rows: 22px 22px;
                row-gap: 34px;

                p {
                    color: $secondary-800;
                }
            }
        }

        &__button {
            place-self: end center;
            grid-column: 1/4;
        }

        &__contacts {
            h4 {
                margin-bottom: 18px;
            }

            p {
                margin-top: 12px;
            }
        }

        &__week {
            display: grid;
            grid-template-rows: 38px 38px;
            row-gap: 18px;
            align-items: start;
        }
    }
}

.section-introduction {
    margin-top: 40px;
    margin-bottom: 54px;

    @include for-phone-only {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-wrapper {
        grid-template-rows: 321px 172px;
        row-gap: 98px;

        @include for-phone-only {
            grid-template-rows: 620px 190px 168px 10px 172px;
            row-gap: 32px;
        }
    }

    &__text-content {
        grid-column: 1/5;

        p {
            margin: 0;
        }

        @include for-phone-only {
            grid-column: 1/3;
        }
    }

    &__icons {
        &--people {
            grid-column: 1/2;
            grid-row: 2;
            align-self: start;

            @include for-phone-only {
                grid-column: 1/2;
                grid-row: 3;
            }
        }

        &--puzzle {
            position: relative;
            grid-column: 4/5;
            grid-row: 2;
            align-self: start;
            bottom: 30px;
            left: 32px;

            @include for-phone-only {
                position: static;
                grid-column: 1/2;
                grid-row: 5;
            }

            & img:nth-child(1) {
                @include for-phone-only {
                    display: none;
                }
            }

            & img:nth-child(2) {
                display: none;

                @include for-phone-only {
                    display: block;
                }
            }
        }
    }

    &__video {
        place-self: center end;

        @include for-phone-only {
            grid-column: 1/3;
            grid-row: 2;
        }
    }

    &__strawberry {
        grid-column: 2/3;
        grid-row: 2;
        place-self: start;

        @include for-phone-only {
            grid-column: 2/3;
            grid-row: 3;
        }
    }

    &__cherry {
        grid-column: 5/6;
        grid-row: 2;
        width: 89.72%;
        place-self: start end;

        &-hide {
            display: none;
        }

        @include for-phone-only {
            grid-column: 2/3;
            grid-row: 5;
            width: 100%;

            h2 {
                display: none;
            }

            &-hide {
                display: block;
            }
        }
    }

    &__dots {
        grid-column: 3/4;
        grid-row: 2;

        @include for-phone-only {
            grid-column: 1/3;
            grid-row: 4;

            display: flex;
        }
    }

    &-fearful-lady {
        position: relative;
        max-width: 440px;
        max-height: 248px;
    }

    &-btn-play {
        position: absolute;
        max-width: 64px;
        max-height: 64px;
        bottom: 38%;
        left: 42%;
    }
}

.section-dots {
    hr {
        position: relative;
        border: none;
        border-top: 10px dotted #fff;
        color: #fff;
        width: 100%;
        margin: 0;
    }

    &--top {
        hr {
            top: 5px;

            @include for-phone-only {
                top: 37px;
            }
        }
    }

    &--bottom {
        hr {
            bottom: 5px;

            @include for-phone-only {
                bottom: 37px;
            }
        }
    }

    &--primary {
        border-top: 10px dotted $primary-50;
    }
}

.section-program {
    background-color: $secondary-300;
    height: 554px;
    padding: 64px 0;

    @include for-phone-only {
        height: 757px;
        padding: 0 0 64px 0;

        .parent div:nth-child(3) {
            height: 94px;

            p {
                width: 75%;
            }
        }

        .parent div:nth-child(4) {
            height: 72px;
        }
    }

    &-wrapper {
        height: 426px;

        @include for-phone-only {
            height: 629px;
            padding-top: 36px;
        }
    }

    &__icons {
        &--book {
            grid-column: 1/2;
            align-self: start;

            @include for-phone-only {
                position: relative;
                top: 40px;
            }
        }

        &--program {
            grid-column: 5/6;
            width: 352px;
            height: 231.12px;
            place-self: end center;

            @include for-phone-only {
                display: none;
            }
        }

        &--arrow-down {
            height: 10px;
        }
    }

    &__article {
        grid-column: 2/5;
        align-self: start;

        @include for-phone-only {
            grid-column: 1/3;

            h2 {
                padding-left: 55px;
            }
        }

        &-text {
            margin: 24px 0;

            @include for-phone-only {
                grid-column: 1/3;
            }
        }

        & .parent div:first-child {
            margin-top: 12px;
        }
    }
}

.section-info {
    margin-top: 50px;
    margin-bottom: 148px;

    @include for-phone-only {
        margin-top: 0;
        margin-bottom: 96px;
    }

    &-wrapper {
        grid-template-rows: 256px 332px;
        row-gap: 108px;
        align-items: start;

        @include for-phone-only {
            grid-template-rows: 464px 10px 508px;
            row-gap: 32px;
            margin-top: 0;
            margin-bottom: 0px;
        }
    }

    &__picture {
        display: grid;
        grid-column: 5/6;
        grid-row: 1;
        background-color: $grey-300;
        height: 100%;
        width: 363px;
        justify-self: center;
        border-radius: 12px;
        place-items: center;
        box-shadow: $primary-shadow;

        @include for-phone-only {
            display: none;
        }
    }

    &__icons {
        &--clock {
            grid-column: 1/2;
            grid-row: 2;
        
            @include for-phone-only {
                grid-column: 1/2;
                grid-row: 1;
                padding-top: 16px;

            }
        }

        &--innovation {
            grid-column: 4/5;
            grid-row: 2;

            @include for-phone-only {
                grid-column: 1/2;
                grid-row: 3;
            }
        }

        &--reward {
            position: relative;
            align-self: center;
            bottom: 35px;

            @include for-phone-only {
                display: none;
            }
        }
    }

    &__articles {
        &--reward {
            align-self: center;

            @include for-phone-only {
                display: none;
            }
        }

        &--clock {
            grid-column: 2/3;
            grid-row: 2;

            @include for-phone-only {
                grid-column: 1/3;
                grid-row: 1;
                padding-top: 16px;

                h2 {
                    position: relative;
                    left: 48px;
                }
            }
        }

        &--innovation {
            grid-column: 5/6;
            grid-row: 2;

            a {
                color: $secondary-800;
                font-size: 16px;
            }

            @include for-phone-only {
                grid-column: 1/3;
                grid-row: 3;
                
                h2 {
                    position: relative;
                    left: 48px;
                }
            }
        }
    }

    &__dots {
        grid-column: 3/4;
        grid-row: 2;

        @include for-phone-only {
            grid-column: 1/3;
            grid-row: 2;

            display: flex;
        }
    }

    &--how-to-get-there {
        background-color: $secondary-50;

        &__wrapper {
            display: grid;
            grid-template-rows: 36px 296px;
            row-gap: 48px;
            justify-items: center;
            align-content: center;
            height: 100%;

            h2 {
                margin: 0;
                color: $primary-300;
            }
        }

        &__wrapper-article {
            display: grid;
            grid-template-columns: 31.63% 31.63% 31.63%;
            grid-template-rows: 32px 40px 40px 60px 60px;
            row-gap: 16px;
            column-gap: 2.55%;
            place-items: start center;
            width: 100%;
            height: 100%;

            h3 {
                margin: 0;
                color: $primary-300;
            }

            p {
                margin: 0;
            }
        }
    }
}

.section-intro-trainers {
    &__wrapper {
        display: grid;
        grid-template-columns: 14.57% 31.7% 14.57% 31.7%;
        column-gap: 2.48%;
        place-items: start;

        height: 100%;

        @include for-phone-only {
            grid-template-columns: 335px;
            grid-template-rows: 188px 436px 188px 416px;
            row-gap: 32px;
            justify-items: center;
            align-items: start;
        }

        &-profiles {
            display: grid;
            grid-template-columns: 22.74% 22.74% 22.74% 22.74%;
            grid-template-rows: 264px 264px 264px 264px;
            column-gap: 3%;
            row-gap: 64px;
            height: 100%;

            @include for-phone-only {
                grid-template-columns: 1fr;
                grid-template-rows: 264px 264px 264px 264px;
                row-gap: 48px;
                justify-items: center;
                align-items: start;

                height: 1216px;

                @for $i from 5 through 16 {
                    & article:nth-child(#{$i}){
                        display: none;
                    }
                }
            }
        }
    }

    &__article {
        h4 {
            color: $primary-300;
            margin-bottom: 8px;

            @include for-phone-only {
                text-align: center;
            }
        }

        p {
            margin: 0;
        }

        &-position {
            height: 22px;
            font-size: 14px;
            line-height: 16px;
            color: $grey-400 !important;
            padding-top: 3px;

            @include for-phone-only {
                text-align: center;
            }
        }

        &--intro {
            &-position {
                margin-bottom: 24px !important;
            }
        }

        &--profiles {
            display: grid;
            justify-items: center;

            h4 {
                margin-top: 24px;
            }

            &-position {
                margin-bottom: 24px !important;
            }
        }
    }
}

.section-mail-contact-us {
    &__wrapper {
        display: grid;
        grid-template-rows: 24px 52px 192px 48px;
        row-gap: 32px;
        width: 850px;
        height: 100%;
        margin: 0 auto;
        justify-items: center;
        align-content: center;

        h2 {
            color: $primary-300;
            margin: 0;
        }

        p {
            color: $grey-500;
        }
    }

    &__email {
        display: grid;
        grid-template-columns: 48.12% 48.12%;
        column-gap: 3.76%;
        width: 100%;
    }

    &__text-area {
        width: 100%;
    }

    &__button {
        justify-self: start;
        margin-left: -64px;
    }
}
