@import "../settings/_settings-colors.scss";

.navbar {
    height: 100%;
    margin: 0;
    border: 0;

    &__list {
        display: grid;
        grid-template-columns: 16.78% 15.22% 24.39% 10.38% 16.61%;
        column-gap: 4.15%;
        place-items: center center;
        list-style: none;
        height: 100%;
        margin: 0;

        &-item {
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
            color: $grey-700;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $grey-700;

                &:hover {
                    cursor: pointer;
                    color: $secondary-800;
                }
            }
        }
    }

    &__items {
        display: flex;
        position: relative;

        &--footer {
            display: flex;
            position: relative;
        }
    }
}
