@import "../settings/_settings-colors.scss";
@import "../settings/settings-shadows";
@import "../settings/settings-breakpoints";
@import '../settings/settings-animations';

.main-header {
    display: grid;
    grid-template-columns: 1fr 44.61% 1.24% 7.95%;
    column-gap: 2.48%;
    align-items: center;
    background-color: $white;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    @include for-phone-only {
        grid-template-columns: 72px 1fr 82px 24px;
        justify-items: center;
    }

    &-wrapper {
        background-color: $white;
        width: 100%;
        height: 74px;
        box-shadow: $header-shadow;

        &__shadow {
            box-shadow: $header-shadow;
            z-index: 2;
        }
    }

    &__icons {
        display: grid;
        grid-template-columns: 16px 1fr;
        justify-items: start;
        align-items: center;
        column-gap: 16px;

        @include for-phone-only {
            grid-template-columns: 14px 43px;
            column-gap: 14px;
        }

        &-arrow {
            width: 12px;
            height: 20px;
            margin-left: 4px;

            & img:last-child {
                display: none;
            }

            @include for-phone-only {
                & img:first-child {
                    display: none;
                }

                & img:last-child {
                    display: block;
                }
            }

            &:hover {
                // position: relative;
                // animation-name: moving-arrow;
                // animation-duration: 12s;
                // animation-delay: 1s;
                // animation-iteration-count: 2;
                // animation-direction: alternate;
                // animation-timing-function: cubic-bezier(0.1, -0.1, 0.1, 0.1);
                animation: moving-arrow 12s cubic-bezier(0.1, -0.1, 0.1, 0.1) 1s 2 alternate forwards;
            }
        }

        &-logo {
            width: 121.25px;
            height: 41.69px;

            & img:last-child {
                display: none;
            }

            @include for-phone-only {
                width: 43.32px;
                height: 56px;

                & img:first-child {
                    display: none;
                }

                & img:last-child {
                    display: block;
                }
            }
        }

        &-search-icon {
            @include for-phone-only {
                display: none;
            }
        }

        &-menu {
            width: 24px;
            height: 16px;
            display: none;

            @include for-phone-only {
                display: block;
                grid-column: 4/5;
            }
        }
    }
}
