@import "../settings/settings-colors";
@import "../settings/settings-breakpoints";

.box {
    display: grid;
    border-radius: 6px;
    height: 50px;

    &--white {
        grid-template-columns: 1fr 16px;
        place-items: center start;
        place-content: center space-between;
        margin-top: 16px;
        background-color: $white;
        padding-left: 14px;
        padding-right: 24px;
    }

    &--blue {
        place-items: center start;
        padding-left: 16px;
        margin-top: 48px;
        background-color: $blue-400;
        border: 1px solid $white;
        height: 52px;
        line-height: 19px;
    }

    &--grey-border {
        place-items: center start;
        padding-left: 16px;
        border: 1px solid $grey-500;
        height: 52px;
        line-height: 19px;
    }

    &--big-grey-border {
        place-items: start start;
        padding-left: 16px;
        border: 1px solid $grey-500;
        height: 100%;
        width: 100%;
        line-height: 19px;
    }
}

.box-grey {
    width: 2px;
    height: 24px;
    background-color: $grey-100;

    @include for-phone-only {
        width: 24px;
        height: 2px;
        margin-left: 24px;
    }
}

.box-horizontal {
    width: 100%;
    height: 12px;

    &--blue {
        background-color: $blue-200;
    }

    &--grey {
        background-color: $grey-500;
    }
}

.icon-box-facebook {
    width: 29px;
    height: 28px;
    margin-left: 11px;
    color: $grey-200;

    &:hover {
        color: $primary-300;
    }

    & i {
        font-size: 1.92rem;
    }
}

.icon-box-instagram {
    width: 28px;
    height: 28px;
    margin-left: 30px;
    color: $grey-200;

    &:hover {
        color: $primary-300;
    }

    & i {
        font-size: 1.92rem;
    }
}

.copyright {
    margin-left: 11px;
    width: 185px;
    height: 38px;
    color: $grey-500;

    grid-column: 5/6;
    grid-row: 2;

    position: relative;
    bottom: 72px;

    @include for-phone-only {
        grid-column: 1/3;
        grid-row: 4;
        border-top: 1px solid $grey-600;
        text-align: center;

        width: 100%;
        padding: 32px;

        position: static;
    }
}

.box-image-frame {
    position: relative;
    width: 188px;
    height: 188px;
    border-radius: 50%;
    border: 8px solid $primary-300;

    img {
        position: relative;
        border-radius: 50%;
    }

    
    &::after {
        position: absolute;
        display: none;
        content: " ";
        background-color: $secondary-800;
        opacity: 0.8;
        width: 172px;
        height: 172px;
        border-radius: 50%;
    }

    &:hover {
        cursor: pointer;

        &::after {
            display: block;
            bottom: 0.1px;
            z-index: 1;
        }

        div.box-image-frame-hidden {
            visibility: visible;
        }
    }

    &-hidden {
        display: grid;
        place-items: center;
        position: absolute;
        bottom: 40px;
        left: 55px;
        z-index: 2;
        visibility: hidden;

        div {
            width: 24px;
            height: 64px;
        }

        p {
            color: $white;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 12px;
            margin-top: 12px;
            width: 63px;
        }
    }
}
