@import "../settings/settings-colors";
@import "../settings/settings-breakpoints";

.dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;

    &--white {
        background-color: $white;
        margin-right: 8px;
    }

    &--yellow {
        background-color: $secondary-100;
        margin-bottom: 8px;

        @for $i from 11 through 20 {
            .section-introduction__dots &:nth-child(#{$i}) {
                display: none;
            }
        }

        @include for-phone-only {
            margin-bottom: 0;
            margin-right: 8px;

            @for $i from 11 through 20 {
                .section-introduction__dots &:nth-child(#{$i}) {
                    display: block;
                }
            }
        }
    }
}

.dot-section-fixed {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-bottom: 7px;

    &--white {
        box-shadow: inset 2px 2px 4px #c4c4c4;

        @for $i from 7 through 22 {
            &:nth-child(#{$i}) {
                display: none;
            }
        }

        @include for-phone-only {
            margin-bottom: 0;
            margin-right: 7px;

            @for $i from 7 through 22 {
                &:nth-child(#{$i}) {
                    display: block;
                }
            }
    
        }
    }

    &--blue {
        box-shadow: inset 0px 0px 3px 5px $blue-400;

        @include for-phone-only {
            display: none;
        }
    }
}
