@import "../settings/_settings-colors.scss";
@import "../settings/settings-breakpoints";
@import '../settings/settings-shadows';

.btn {
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 14px 32px;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
    }

    &--secondary {
        background: $secondary-800;
        color: $white;
        box-shadow: $primary-shadow;

        &-reversed {
            background: $white;
            color: $secondary-800;
            border: 1px solid $secondary-800;
            font-size: 14;
        }
    }

    &--nav {
        display: block;
        padding: 10px 22px;
        font-weight: 800;
        font-size: 13px;
        line-height: 16px;
        height: 36px;
        align-self: center;
        margin-right: 12px;

        @include for-phone-only {
            display: block;
            grid-column: 3/4;
        }
    }

    &--section-fixed {
        padding: 14px 32px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        height: 48px;
        margin-left: 64px;
        box-shadow: $primary-shadow;

        @include for-phone-only {
            padding: 16px 94px;
            justify-self: center;
            margin-left: 24px;
        }
    }
}
