@import "../settings/settings-colors";

.box {
    display: grid;
    border-radius: 6px;
    height: 50px;

    &--white {
        grid-template-columns: 1fr 16px;
        place-items: center start;
        place-content: center space-between;
        margin-top: 16px;
        background-color: $white;
        padding-left: 14px;
        padding-right: 24px;
    }

    &--blue {
        place-items: center start;
        padding-left: 16px;
        margin-top: 48px;
        background-color: $blue-400;
        border: 1px solid $white;
        height: 52px;
        line-height: 19px;
    }
}

.box-grey {
    width: 2px;
    height: 24px;
    background-color: $grey-100;
}

.box-horizontal {
    width: 100%;
    height: 12px;

    &--blue {
        background-color: $blue-200;
    }

    &--grey {
        background-color: $grey-500;
    }
}

.icon-box-facebook {
    width: 29px;
    height: 28px;
    margin-left: 11px;
    color: $grey-200;

    &:hover {
        color: $primary-300;
    }

    & i {
        font-size: 1.92rem;
    }
}

.icon-box-instagram {
    width: 28px;
    height: 28px;
    margin-left: 30px;
    color: $grey-200;

    &:hover {
        color: $primary-300;
    }

    & i {
        font-size: 1.92rem;
    }
}

.copyright {
    margin-left: 11px;
    width: 185px;
    height: 38px;
    color: $grey-500;
}

.box-image-frame {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    border: 8px solid $primary-300;

    img {
        position: relative;
        border-radius: 50%;

        &::after {
            position: absolute;
            background-color: $secondary-800;
            opacity: 0.8;
            content: " " attr("Hello");
            color: red;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;

            &::after {
                position: absolute;
                background-color: $secondary-800;
                opacity: 0.8;
                content: " " attr("hello");
                transition-delay: 0s;
            }
        }
    }
}
