@import "../settings/_settings-colors.scss";

.color-line {
    background-color: $grey-500;
    height: 12px;
}

.footer-wrapper {
    background-color: $grey-700;
    height: 312px;
}

.footer {
    &__logo-wrapper {
        position: absolute;
        width: 220px;
        height: 403px;
        left: 75px;
        top: -92px;
    }
    
    &__lists-wrapper {
        display: flex;
        position: absolute;
        left: 370px;
        line-height: 19px;
        padding: 10px 0;
        height: 244px;
        width: 70%;
        margin: 0;
        margin-top: 40px;
    }
    
    &__list {
        display: flex;
        flex-flow: column wrap;
        margin-right: 74px;
        margin-left: 11px;
        margin: 0 74px 0 11px;
        padding: 0;
    
        &--double {
            width: 248px;
            height: 170px;
        }

        &-item {
            list-style: none;
        
            a {
                display: block;
                text-decoration: none;
                color: $grey-200;
                font-size: 16px;
                line-height: 19px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                margin-bottom: 12px;
                height: 20px;
            }
        
            &--first {
                a {
                    display: block;
                    text-decoration: none;
                    color: $white;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 12px;
                    height: 20px;
                    width: 166px;
                }
        
                &:hover{
                    pointer-events: none !important;
                }
            }
        
            
            &--stretch {
                display: block;
                width: 100%;
                margin-bottom: 0;
            }
        
            a:hover {
                color: $primary-300;
            }
        }
    }
}

.icon-wrapper {
    display: flex;
    margin-top: 24px;
    margin-bottom: 48px;
}

.icon-box-facebook {
    width: 29px;
    height: 28px;
    margin-left: 11px;
    color: $grey-200;
    
    &:hover {
        color: $primary-300;
    }

    & i {
        font-size: 1.92rem;
    }
}

.icon-box-instagram {
    width: 28px;
    height: 28px;
    margin-left: 30px;
    color: $grey-200;
    
    &:hover {
        color: $primary-300;
    }

    & i {
        font-size: 1.92rem;
    }
}

.copyright {
    margin-left: 11px;
    width: 177px;
    height: 38px;
    color: $grey-500;
}
